{% extends 'layout.html' %}


{% block title %}
    <title>SHOW</title>
{% endblock %}


{% block content %}
<body>

    <table class="table table-dark">
        </thead>
        <tr>
            <th>ROLL</th>
            <th>NAME</th>
            <th>MARKS</th>
            <th>EMAIL</th>
        </tr>
    </thead>
        <tbody>
            {% for obj in data %}
            <tr>
                <td>{{obj.roll}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.marks}}</td>
                <td>{{obj.email}}</td>
                <td>
                    <a href="{% url 'update_url' obj.id %}"><button>UPDATE</button></a>
                    <a href="{% url 'delete_url' obj.id %}"><button>DELETE</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}